.App {
    text-align: center;
    // td
    vertical-align: top;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-header-table {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

App-root-table-scroll {
    #height:150px;
    font-size:1rem;
    width:30rem;
    height:250px;
    width:100%;
    height:300px;
    overflow:scroll;  
    margin-top:2px;
}
 
.react-autosuggest__input {
    width:10em;
}

.add-word-div {
    width: 100%;
    white-space:'nowrap';
    overflow:'hidden';
}